.ririmds {
  background-color: black;
  color: white;
  padding: 3rem;

  h2 {
    @include en-font;
    font-size: 100px;
    margin: 2rem 0 5rem;
  }

  .colorfont-wrap {
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 20px;
    }

    p {
      @include ko-bold;
      font-size: 40px;
      margin-top: 1rem;
    }
  }
}
